<div class="container">
 <div class="row">
   <div class="col-sm-6 col-sm-offset-3">

   <p><%= @user.created_at %></p>
   <%= image_tag @user.picture %>
   <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
   <p><%= @user.email %></p>


   <h3>Your upcoming experiences:</h3>

    <% @user.bookings.each do |booking| %>
    <% if(booking.experience.day > Date.today) %>
      <ul>
        <li><%= booking.experience.name  %> </li>
        <li><%= booking.experience.day  %></li>
      </ul>

        <%end%>
    <% end %>




     <h3>Your past experiences:</h3>

    <% @user.bookings.each do |booking| %>
      <% if(booking.experience.day <= Date.today) %>
          <ul>
            <li><%= booking.experience.name  %> </li>
            <li><%= booking.experience.day  %></li>
            <li><%= link_to 'Add Review', new_experience_review_path(booking.experience) %></p></li>
            <li><p>participants</p></li>
            <%booking.experience.users.each do |user|  %>
            <ul>
              <li><%= user.email%> <%= link_to 'Leave a comment', new_user_userrating_path(booking.experience.user.id) %></li>

            </ul>
          <%end%>
        </ul>

      <%end%>
    <% end %>

    <h3>Experiences you are offering:</h3>

    <% @user.experiences.each do |experience| %>
    <ul>
    <li><%= experience.name  %> </li>
    </ul>

      <% end %>

    <h3>Your reviews:</h3>

    <% @user.userratings.each do |userrating| %>
    <ul>
    <li><%= userrating.comment  %> </li>
    </ul>

    <% end %>

    <div id="comments">
      <% if @user.comments.blank? %>
        Be the first to leave a comment for <%= @user.first_name %>
      <% else %>
        <% @user.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>
      <% end %>
    </div>

    <%= render 'comments/form', user: @user, comment: @comment %>



   </div>
 </div>
</div>
