<div class="container">
 <div class="row">
   <div class="col-sm-6 col-sm-offset-3">

   <p><%= @user.created_at %></p>
   <%= image_tag @user.picture %>
   <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
   <p><%= @user.email %></p>

   <%= link_to 'Edit user', edit_user_path %>?</p>

   <h3>Your booked experiences:</h3>

    <% @user.bookings.each do |booking| %>
    <ul>
    <li><%= booking.experience.name  %> </li>
    </ul>

    <% end %>

    <h3>Experiences you are offering:</h3>

    <% @user.experiences.each do |experience| %>
    <ul>
    <li><%= experience.name  %> </li>
    </ul>

      <% end %>

    <h3>Your reviews:</h3>

    <% @user.userratings.each do |userrating| %>
    <ul>
    <li><%= userrating.comment  %> </li>
    </ul>

    <% end %>

    <div id="comments">
      <% if @user.comments.blank? %>
        Be the first to leave a comment for <%= @user.first_name %>
      <% else %>
        <% @user.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>
      <% end %>
    </div>



   </div>
 </div>
</div>
