<div class="container">
 <div class="row">
   <div class="col-sm-4 col-sm-offset-4">
   <p><%= @user.created_at %></p>
   <%= image_tag @user.picture %>
   <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
   <p><%= @user.email %></p>

   <%= link_to 'Edit user', edit_user_path %>?</p>



   </div>
 </div>
</div>
